*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*TYPOGRAPHY ****************************************/

html {
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

.mast-head h1, h2, h3 {
	margin: 0;
	color: #046380;
	letter-spacing: 3px;
}

.mast-head h2 {
	color: #002F2F;
}

.mast-head h3 {
	color: #8D1236;
}

.section-about h2, .section-about h3 {
	color: white;
}

.section-contact h3 {
	color: white;
}


/*MAIN STYLES ****************************************/

.contain-width {
	max-width: 990px;
	margin: 0 auto;
}

.mast-head {
	height: 100vh;
	background-color: #fff;
/*	background-image: url("../img/glass_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
*/	text-align: center;
}

.mast-head .fa {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #066859;
	padding-bottom: 50px;
}

.mast-head .fa:hover {
	color: #edb41c;
}

.main-logo {
	max-width: 500px;
	margin: 100px 0 30px 0;
}

.main-navigation {
	width: 100%;
	padding: 15px 0;
  z-index: 1000;
}

.main-navigation ul {
	list-style: none;
	padding: 10px 0;
	margin: 0;
	width: 100%;
}

.main-navigation li {
	display: inline-block;
	margin-right: 15px;
}

.main-navigation li:last-child {
	margin-right: 0;
}

.main-navigation a {
	text-decoration: none;
	color: #066859;
}

.main-navigation a:hover {
	border-bottom: 3px solid #edb41c;
}

.about-bs {
	background-color: #066859;
  padding: 90px 0;
}

.nav-logo {
	display: none;
	width: 120px;
}

.is-sticky .main-navigation {
	background-color: #fff;
}

.is-sticky .nav-logo {
	display: inline;
	float: left;
}

.is-sticky .test-right {
	float: right;
}

.about-bs .grid, .services-bs .grid  {
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

.img_center {
  position: absolute;
  bottom: 2px;
  text-align: center;
}

.services-bs {
  padding: 90px 0;
  background-color: #edb41c;
}




.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/*Animation for bouncing arrow*/

@-moz-keyframes bounce {
  0%, 20%, 50%, 70%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 70%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 70%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


